.cheat-modal .modal-content {
    height: 90vh;
}

.cheat-modal .modal-content .modal-body {
    position: relative;
}

.cheat-container {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    resize: none;
    position: absolute;
    top: 15px;
    bottom: 15px;
}

.cheat-container {
    padding: 15px;
    text-align: justify;
}