header {
    background-color: #e3f2fd;
    /*border-bottom: #2aabd2 1px solid;*/
    min-height: 56px;
    box-shadow: 0 1px 5px #2aabd2;
    margin-bottom: 3px;
}

footer {
    background-color: #2aabd2;
    padding: 20px 0;
    /*min-height: 100px;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: -1px -1px 5px;
    margin-top: 3px;
}

aside {
    background-color: white;
    box-shadow: 1px 1px 5px;
    transition: all 1s linear;
    overflow: auto;
}

aside.hidden {
    margin-left: -25.5%;
}

aside ul li {
    list-style: none;
    padding: 5px 0;
}
aside ul li span.fa-caret-down{
    float: right;
}
aside ul {
    padding-left: 20px;
}

.content {
    /*background-color: greenyellow;*/
    /*overflow: auto;*/
    transition: all 1s linear;
    padding: 0 20px;
}

.controlfunctions {
    background-color: white;
}

.next {
    float: right;
}

.previous {
    float: left
}

.next,
.previous {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.currentPage {
    margin-top: 20px;
    margin-bottom: 20px;
    /* 40px - сумма марджинов */
    height: calc(100% - 40px);
    /* position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;*/
    padding: 0;
}

.currentPageText {
    overflow: auto;
}

.currentPageContainer {
    height: 100%;
    padding: 0;
}

@media screen and (max-width: 786px) {

}
